.grow-together {
  margin-bottom: 12rem;
}
.grow-together__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.grow-together-image_wrapper {
  margin-right: 8rem;
}
.grow-together-image {
  border-radius: 12px;
}
.grow-together-content {
}
.grow-together__title {
  font-family: $Martian_Mono;
  font-weight: 600;
  font-size: 5rem;
  line-height: 130%;
  letter-spacing: -2px;
  margin-bottom: 3.4rem;
}
.grow-together__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 431px;
}
.grow-together__item {
  display: flex;
  align-items: center;
  gap: 14px;
}
.grow-together__checed-img {
}
.grow-together__descraption {
  font-family: $Inter;
  font-weight: 400;
  font-size: 2rem;
  line-height: 140%;
  letter-spacing: -0.5px;
}
.book-club {
  margin-bottom: 12rem;
  background-image: url("../../images/logos-tech.svg");
  background-repeat: no-repeat;
  background-position: bottom 31px center;
}
.book-club_container {
  display: flex;
  align-items: center;
}
.book-club__content {
  width: 100%;
  max-width: 530px;
  margin-right: 8rem;
}
.book-club__title {
  font-weight: 600;
  font-size: 5rem;
  line-height: 130%;
  letter-spacing: -2px;
  color: $neutral-900;
  background-image: url("../../images/pattern-circle.png");
  background-repeat: no-repeat;
  background-position: left 150px bottom;
  margin-bottom: 2.4rem;
}
.book-club__descraption {
  font-family: $Inter;
  font-weight: 400;
  font-size: 2rem;
  line-height: 140%;
  letter-spacing: -0.5px;

  & span {
    font-family: $Inter;
    font-weight: 600;
    font-size: 2rem;
    line-height: 140%;
    letter-spacing: -0.5px;
  }
  color: $neutral-700;
}
.book-club-image-wrapper {
  position: relative;
  z-index: -1;
}
.book-club-image {
  border-radius: 12px;
}

.reading-journey {
  margin-bottom: 12rem;
}
.reading-journey__container {
  background-image: url("../../images/pattern-light-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $neutral-100;
  padding: 8rem 6rem;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 64px;
}
.reading-journey__title {
  font-weight: 600;
  font-size: 5rem;
  line-height: 120%;
  letter-spacing: -4%;
  color: $neutral-900;
  width: 100%;
  max-width: 512px;
}
.reading-journey__list {
  display: flex;
  gap: 48px;
}

.reading-journey__item:nth-child(1) {
  background-image: url("../../images/pattern-arrow.svg");
  background-repeat: no-repeat;
  background-position: top right;
}
.reading-journey__item:nth-child(2) {
  background-image: url("../../images/pattern-arrow.svg");
  background-repeat: no-repeat;
  background-position: top right;
}
.reading-journey__item:nth-child(3) {
  background-image: url("../../images/pattern-arrow.svg");
  background-repeat: no-repeat;
  background-position: top right;
}

.reading-journey__item {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 226.5px;
}
.reading-journey__item-number {
  border: 2px solid $neutral-900;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;

  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.4rem;
  letter-spacing: -1%;
  color: $neutral-900;
}
.reading-journey__item-descraption {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 130%;
  letter-spacing: -1%;
}
.options {
}
.options__container {
}
.options__title {
}
.options__list {
}
.options__item {
}
.options__item__contents {
}
.options__item__title {
}
.options__item__prise {
}
.options__item__possibilities {
}
.testemonials {
}
.testemonials__container {
}
.testemonials__stars__wrapper {
}
.testemonials__caption {
}
.testemonials__name {
}
