.header {
  background-image: url("../../images/pattern-light-bg.svg"),
    url("../../images/pattern-glow.svg");
  background-repeat: no-repeat;
  background-position: center, bottom -240px right -472px;
  background-size: cover, 684px;
  margin-bottom: 12rem;
}
.sitenav {
}
.sitenav_container {
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
}
.sitelogo {
}
.hero {
  margin-bottom: 6.6rem;
}
.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4.8rem;
}

.hero__content {
  width: 100%;
  max-width: 570px;
}
.hero__title {
  font-family: $Martian_Mono;
  font-weight: 700;
  font-size: 6.2rem;
  line-height: 120%;
  letter-spacing: -2px;
  color: $gradient-text;
  margin-bottom: 2.4rem;
}
.hero__descraption {
  font-family: $Inter;
  font-weight: 400;
  font-size: 2rem;
  line-height: 140%;
  letter-spacing: -0.5px;
  color: $neutral-700;
  margin-bottom: 3.2rem;
}

.hero__button {
  @include btn;
  background-color: $light-salmon-50;
  margin-bottom: 2rem;

  & span {
    font-family: $Martian_Mono;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 130%;
    letter-spacing: -1px;
    color: $neutral-900;
    margin-right: 1.6rem;
  }

  &:hover {
    background: $gradient;
  }
}
.hero__testemonials {
  display: flex;
  align-items: center;
  gap: 12px;
}
.hero__testemonials__img-wrapper {
}
.hero__testemonials__img {
}
.hero__testemonials-reating {
  & p {
    font-family: $Martian_Mono;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 120%;
    letter-spacing: -1px;
    text-align: center;
    color: $neutral-700;
  }
}
.hero__testemonials-reating-stars-wrapper {
  display: flex;
  margin-bottom: 4px;
}
.hero__img_wrapper {
  border-radius: 12px;
  overflow: hidden;
}
.hero__img {
}
